*.wjw-tools{
    font-family: microsoft;
    font-size: 17px;
    margin: 5px;
    outline-style: none;
    display: table;
    border-radius: 5px;
    border-style: none;
}
button.wjw-tools{
    width: 200px;
    height: 30px;
    color:white;
    background-color:hotpink;
    cursor: pointer;
}
button.wjw-tools:hover{
    background-color: pink;
    transform: scale(1.01);
}
input.wjw-tools{
    border: 1px solid #ccc;
    width: 200px;
    height: 30px;
}